[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rgoogleclassroom"]
	path = rgoogleclassroom
	url = https://github.com/datatrail-jhu/rgoogleclassroom
